.carousel-container img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 56px;
  color: var(--white);
  margin-top: -120px;
  margin-bottom: 46px;
}

.carousel-img-0,
.carousel-img-1 {
  text-align: right;
  margin-right: 60px;
}

.carousel-img-2,
.carousel-img-3 {
  margin-left: 60px;
}